@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.App {
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 24px;
  box-shadow: 5px 4px 40px 1px hsl(214, 19%, 7%);
}

.img-container {
  position: relative;
}

.img-container .img-overlay {
  width: 100%;
  position: absolute;
  height: 273px;
  cursor: pointer;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: hsla(178, 100%, 50%, 0.39);
}

.img-container img {
  width: 100%;
  max-width: fit-content;
  border-radius: 10px;
}

.nft-content h3 {
  font-size: 1.2rem;
  margin: 15px 0;
  font-weight: 500;
  transition: 0.5rem ease-in-out;
}

.nft-content h3:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.nft-content .nfttext {
  font-size: 0.9rem;
  font-weight: 200;
  color: hsl(215, 51%, 70%);
}

.price-dur {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
  border-bottom: 0.2px solid hsl(214, 23%, 29%);
  padding-bottom: 20px;
}

.price-dur p:nth-child(1) {
  font-size: 0.9rem;
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.price-dur p:nth-child(2) {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.price-dur p:nth-child(2) span img,
.price-dur p:nth-child(1) span img {
  max-width: fit-content;
  width: 80%;
}

.profile p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 300;
}
.profile p small {
  font-size: 0.8rem;
}
.profile p small:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.profile p small span {
  color: hsl(215, 51%, 70%);
}

.profile p span img {
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 3px;
}
